
<div class="store-nav">
    <ul class="nav nav-pills ml-5">
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="clickMe()">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Disabled</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Disabled</a>
          </li>
        <li class="ml-auto search">
            <app-search-bar></app-search-bar>
        </li>
      </ul>
</div>
<hr>
<div>
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="store-products container-fluid">
    <div class="row ml-auto p-0">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
            <div class="card" >
                <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <a href="#" class=" btn-xs btn btn-success">Edit</a>
                  <a href="#" class=" btn-xs btn btn-warning">Copy</a>
                  <a href="#" class=" btn-xs btn btn-danger">Delete</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
          <div class="card" >
              <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class=" btn-xs btn btn-success">Edit</a>
                <a href="#" class=" btn-xs btn btn-warning">Copy</a>
                <a href="#" class=" btn-xs btn btn-danger">Delete</a>
              </div>
            </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
        <div class="card" >
            <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class=" btn-xs btn btn-success">Edit</a>
              <a href="#" class=" btn-xs btn btn-warning">Copy</a>
              <a href="#" class=" btn-xs btn btn-danger">Delete</a>
            </div>
          </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
      <div class="card" >
          <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class=" btn-xs btn btn-success">Edit</a>
            <a href="#" class=" btn-xs btn btn-warning">Copy</a>
            <a href="#" class=" btn-xs btn btn-danger">Delete</a>
          </div>
        </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
    <div class="card" >
        <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class=" btn-xs btn btn-success">Edit</a>
          <a href="#" class=" btn-xs btn btn-warning">Copy</a>
          <a href="#" class=" btn-xs btn btn-danger">Delete</a>
        </div>
      </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
  <div class="card" >
      <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class=" btn-xs btn btn-success">Edit</a>
        <a href="#" class=" btn-xs btn btn-warning">Copy</a>
        <a href="#" class=" btn-xs btn btn-danger">Delete</a>
      </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 col p-2">
  <div class="card" >
      <img class="card-img-top" src="https://cache.pakistantoday.com.pk/JF-17-Thunder-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class=" btn-xs btn btn-success">Edit</a>
        <a href="#" class=" btn-xs btn btn-warning">Copy</a>
        <a href="#" class=" btn-xs btn btn-danger">Delete</a>
      </div>
    </div>
</div>
    </div>
</div>