<div class="col-sm-12 col-md-6">
    <div class="dataTables_length" id="tickets-table_length">
        <label class="d-inline-flex align-items-center">Show
            <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
            [(ngModel)]="pageSize" (change)="parentReload()"
            class="custom-select custom-select-sm form-control form-control-sm mx-2">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            </select> entries
        </label>
    </div>
</div>