<div class="footer">
    <div class = "row">
        <div class="col-sm-6 col-md-3 col-xs-12">
            <h3>Hoopla, LLC</h3>
            <ul >
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
            <h3>Hoopla Features</h3>
            <ul>
                <li>Delivery</li>
                <li>Pick-Up</li>
                <li>Errand Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
            <h3>Business Center</h3>
            <ul>
                <li>Delivery</li>
                <li>Pick-Up</li>
                <li>Errand Services</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
            <h3>Get App</h3>
            <ul>
                <li><img class="img-responsive-apple" src="/assets/images/apple.png"></li>
                <li><img class="img-responsive" src="/assets/images/andriod.png"></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom ">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Copyright 2020. All Right Reserved Terms of Use and Privacy Policy</p>
            </div>
            <div class="col-md-6 col-sm-6 social-media ml-100">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    
            </div>
        </div>
    
    
    </div>
    
</div>

