@import "../../variables.scss";
.loginForm{
    margin: 25px auto 100px;
    border-radius: 4px;
    padding:20px 25px ;
}
.btnSubmit{
    height: 50px;
    color: white;
    background-color:$primary_color ;
}
a:hover{
    color: $primary-color;
}
small{
    color: red;
}
input:hover{
    border-color: black;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
}