@import "../../variables.scss";

  .cat{
      border: 1px solid;
    border-radius: 12px;
  }
  

  .btn-color{
    color: white;
  border-color: $primary-color;
  background-color: $primary-color;
}
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #7B1FA2;
    background-color: #7B1FA2;
  }
  