<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <hr>
    <div class="row border-bottom">
        <div class="col-9 " >
            1 Businesses near
            Las Vegas, NV, USA
        </div>
        <div class="col-3 text-center " > 
            <div class="btn-group">
                <label class="btn-color btn btn-primary " [(ngModel)]="checkModel.left"
                      btnCheckbox tabindex="0" role="button" >Delievery</label>
                <label class="btn btn-primary btn-color" [(ngModel)]="checkModel.right"
                      btnCheckbox tabindex="0" role="button">PickUp</label>
            </div>
        </div>

    </div>
    <div class="row border-bottom">
        <div class="col-6">
                <app-search-bar></app-search-bar>
        </div>
        <div class="col-6 pt-3">
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-3 mt-3">
            <div class="cat pb-3">
                <div> <h6 class="m-3 color_primary font-weight-bold">CATEGORIES</h6></div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline14" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline14">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline15" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline15">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline16" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline16">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline17" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline17">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline18" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline18">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline19" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline19">Toggle this custom radio</label>
                </div>
                  
            </div>
            <div class="cat mt-4 pb-3">
                <div> <h6 class="m-3 color_primary font-weight-bold">SUB CATEGORIES</h6></div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline11" name="as" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline11">Toggle this custom radio</label>
                </div>
                <div class="custom-control m-2 custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline12" name="as" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline12">Toggle this custom radio</label>
                </div>
            </div>
        </div>
        <div class="col-9">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-3 m-3 p-0 ">
                        <div class="card">
                            <h5 class="card-header text-right">
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-trash color_primary " aria-hidden="true"></i></a>
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-pencil-square-o ml-2 color_primary" aria-hidden="true"></i></a>
                            </h5>
                            <div class="card-body ">
                              <h5 class="card-title color_primary">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                             
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-3 m-3 p-0 ">
                        <div class="card">
                            <h5 class="card-header text-right">
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-trash color_primary" aria-hidden="true"></i></a>
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-pencil-square-o color_primary ml-2" aria-hidden="true"></i></a>
                            </h5>
                            <div class="card-body">
                              <h5 class="card-title color_primary">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                             
                            </div>
                          </div>
                    </div>
                   
                    <div class="col-md-6 col-sm-12 col-lg-3 m-3 p-0 ">
                        <div class="card">
                            <h5 class="card-header text-right">
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-trash color_primary" aria-hidden="true"></i></a>
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-pencil-square-o color_primary ml-2" aria-hidden="true"></i></a>
                            </h5>
                            <div class="card-body">
                              <h5 class="card-title color_primary">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                             
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-3 m-3 p-0 ">
                        <div class="card">
                            <h5 class="card-header text-right">
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-trash color_primary" aria-hidden="true"></i></a>
                                <a href="https://getbootstrap.com/docs/4.0/components/card/"><i class="fa fa-pencil-square-o color_primary ml-2" aria-hidden="true"></i></a>
                            </h5>
                            <div class="card-body">
                              <h5 class="card-title color_primary">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                             
                            </div>
                          </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>