/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "../src/app/variables.scss";


.color_primary{
    color:$primary-color;
}

/* Background Color */
.bg_primary{
    background-color:$primary-color;
}
/*bottom border*/
.border-bottom{
    border-bottom: 1px solid #e5e5e5;
}

.btn-basic{
    color: white!important;
    background-color:$primary_color!important;
    font-weight: bold!important;
    border-color: $primary-color!important;
}