<!-- ========== Left Sidebar Start ========== -->

<div class="conatiner-fluid sticky-top border p-4 color_primary ">
    
    <div>
        <h5 class="pro-user-name text-capitalize mt-0 mb-0">Dubai Admin</h5>
    </div>
    
    <ng-template [ngIf] = "check" >
        <p> Branch Admin</p>
        <div class="custom-control custom-switch mb-2">
            <input type="checkbox" class="custom-control-input"  [checked] id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Accepting Orders</label>
        </div>
    </ng-template>
    
    <div class="menu mt-4 ">
        <div class="mb-0 mt-3">
            Menu
        </div>
        
        <div class="menu-item mt-0">
            <ul class="list-group">
                <li *ngFor = "let a of msgs" class="mt-2 list-group-item border-0">
                    <a> <i class="fa fa-home" aria-hidden="true"></i> DashBoard </a>
                </li>
                <li class="list-group-item border-0">
                    <a> <i class="fa fa-home" aria-hidden="true"></i> Logout </a>
                </li>
            </ul>
        </div>
    </div>
</div>




