<div class="container-fluid ">
    <div class="loginForm col-lg-4 col-md-6 col-sm-12 border">
        <div>
            <h3 class="text-center font-weight-bold mb-2">Reset Password</h3>
        </div>
        <div>
            <form [formGroup]="resetForm" (submit)="resetPassword()">
                <div class="form-group">
                    <Label class="font-weight-bold">Password</Label>
                    <input type="password" name="password" class="form-control pl-4" formControlName="password"
                        placeholder="Password" />
                    <small *ngIf="resetForm.get('password').touched && resetForm.get('password').invalid">Please Enter Valid Password length must be greater then 8
                         </small>
                </div>
                <div class="form-group">
                    <Label class="font-weight-bold">Confirm Password</Label>
                    <input type="password" name="confirmPassword" class="form-control pl-4" formControlName="confirmPassword"
                        placeholder="Confirm Password"  (ngModelChange)= "passwordCompare()" />
                    <small *ngIf="confirmPasswordError">Password Not Matched </small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btnSubmit form-control " [disabled] = "resetForm.invalid||confirmPasswordError">Reset</button>
                   
                </div>
            </form>
        </div>
    </div>
</div>
